.chat-container {
    flex-direction: column;
    display: flex;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: end;
}

.scroller{
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.chat-container{
  position: relative;
}
.total-messages {

    flex-direction: column;
    display: flex;
    justify-content: end;
    max-width: 100%;
    height: 78vh;
    background: whitesmoke;
    border-radius: 4px;
    box-sizing: border-box;
}

.send-button {
    position: absolute;
    right: 0;
    margin-top: 2px;
    margin-right: 4px;
    width: 80px;
}

.message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    width: fit-content;
    white-space: normal;
    word-wrap: break-word;
    box-sizing: border-box;
    overflow-wrap: break-word; 
    display: flex;
    width: fit-content;
}

.incoming-message {
    background-color: #ddd;
    text-align: left;
    margin-right: auto;
    margin-left: 20px;
    border-radius: 2px 10px 10px 10px;
}

.user-message {
    background-color: #4caf50;
    color: white;
    text-align: right;
    margin-left: auto;
    margin-right: 20px;
    border-radius: 10px 2px 10px 10px;
}

.input-container {
    margin-top: 20px;
    display: flex;
}

input {
    flex: 1;
    padding: 10px;
}

button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.top-header{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 20px;
    background-color: #4caf50;
    border-radius: 7px;
    height: 68px;
    align-items: center;
    img{
        width: 40px;
        height: 40px;
    }
}
.user-list {
    width: 100%;
    overflow-y: auto;
    background: #f2f2f2;
    padding: 10px;
    height: 100%;
  }
  
  .user-item {
    height: 95px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .user-item:hover {
    background: #ddd;
  }
  
  .user-item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .user-details {
    flex: 1;
  }
  
  .online {
    color: green;
    font-weight: bold;
  }
  
  .offline {
    color: red;
    font-weight: bold;
  }
  
  .time {
    margin-left: 10px;
  }
  
  .app-chat{
    width: 100% !important;
  }