<div class="account-form">
    <form onsubmit="event.preventDefault()" class="box">
        <h1>Create Account</h1>
        <div>
            <input type="text" [(ngModel)]="username"  placeholder="Username">
            <input type="number"    [(ngModel)]="phoneNumber" placeholder="Phone Number">
            <input type="email"   [(ngModel)]="email" placeholder="email">
            <input type="text"  [(ngModel)]="location" placeholder="location">
            <input type="password"  [(ngModel)]="password"  placeholder="Password">
        </div>
        <input type="submit" (click)="  register()"  value="Sign Up" href="#">
    </form>
</div>