<div class="tic-tac-toe w-100">
    <div *ngIf="winSomeOne" class="w-25">
        <img src="../../../../assets/images/winn.png" alt="">
    </div>
    <div class="w-50">
        <div *ngIf="winner" class="winner-message">
            <div>
                {{ winner }}
            </div>
        </div>
        <div class="board">
            <div class="box" (click)="move(i, currnetPlayer)" *ngFor="let square of board; let i = index"
                [ngClass]="{'x': square === 'x', 'o': square === 'o'}">
                {{ square }}
            </div>
        </div>
        <div *ngIf="winner" class="winner-message">
            <button type="button" class="btn btn-outline-success" (click)="restartGame()">Restart</button>
            <button type="button" class="btn btn-outline-success" routerLink="/previous-record">View Previous Records</button>
        </div>
    </div>
    <div class="w-25">
    </div>
</div>